@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap'); 


html {
  height: 100%;
  webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  margin-top: 30px;  checar
}

body {
  font-family: \'Arial\',sans-serif;
  line-height: 90%;
  color: #333;
  font-size: .95em;
  margin: 0;
  padding-top: 0;
  font-weight: 400;
  letter-spacing: .2px;
  display: block;

  

}






#ida-notification-bar{
  background: #001135;
  display: block;
  overflow: auto;
  width: 100%;
  height: auto;
  padding-bottom: 0px;
}





.top_container_join {
    display: inline-block;
    position: sticky;
    background-color: #ff8914 ;
    width: 10%;
    min-width: 100px;
    height: 22px;
    color: white
    text-align: center;
    padding: 9px 15px 4px 15px;
    margin: 0px 0 0 15px;
    text-decoration: none;
    float: right;
  }

#top_container{
  width: 100%;
  background-color: #001135;
  height: 36px;
  position: fixed;
  top: 0;
  z-index: 99999;
  margin-bottom: 0;
  padding-bottom: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

  .top_container_join {
    display: inline-block;
    background-color: #ff8914  !important;
    width: 10%;
    min-width: 100px;
    height: 22px;
    color: white !important !important !important;
    text-align: center;
    padding: 9px 15px 4px 15px;
    float: right;
    margin: 0px 0 0 15px;
    text-decoration: none;
  }



  b {
    font-weight: bold;
}

#top_container a, 
#top_container a:link {
  color: #FFF;
}



.header_box  {
  margin: 0 auto;
  max-width: 1100px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 0;

}

#header{
  background-color: #001135;
  border-bottom: none;
  padding-top: 15px;
}

.header {
  background-color: #001135;
  border-bottom: none;
  padding-top: 15px;
  padding: 15px 20px;

  }

  @media (max-width: 1024px)
  .header {
     padding: 15px 20 px
       border-top: 1 px solid  #ddd;
  }

  
.header_left {
    width: 40%;
    float: left;
    
}

.header_right{
  width: 60%;
  float: right;
  overflow: hidden;

}




  color: white
  
}

nav a:hover {
    text-decoration: underline;
    color: deepblue;
  }



  .navbar navbar-expand-lg navbar-light bg-light{
    font-family: \'Roboto\',sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1em;
    color: #fff;
    letter-spacing: .01em;
    background-color: #1cc562;
    padding: 1em 0.7em;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 0;
    border: none;
    padding: 0em;
    justify-content: space-between;
  }

  container-fluid{
  display:flex;
flex-flow: row wrap;
justify-content: space-between;

width: auto;  /* Or whatever */
height: 70px; /* Or whatever */
margin: auto;  /* Magic! */
padding: 3em 1em;
        max-width: 3100px;
        margin: 1 auto;
        margin-bottom: 0;
        border: none;




  }

  .nav-item dropdown a{
    font-family: \'Roboto\',sans-serif;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1em;
        color: #fff;
        letter-spacing: .01em;
        background-color: #0c996f;
        padding: 1em 0.7em;
        max-width: 1100px;
        margin: 0 auto;
        margin-bottom: 0;
        border: none;
    }

    .nav-link dropdown-toggle:active {
      background: rgb(63, 132, 221);
    }

    
.nav-link {
       padding: 0.7em;
       font-size: 
       font-weight: 50;
       color: white;
}
       

@media (max-width: 1024px)
.menu li:first-child>a:first-child {
    border-top-width: 0;
}
@media (max-width: 1025px)
.menu>li>a {
    border-bottom: 1px solid #001135;
}
@media (max-width: 1024px)
.menu>li>a {
    border-left-width: 1px;
}
@media (max-width: 1025px)
.menu a, .menu_control {
    border-bottom: 1px solid #000;
    padding: 0.8em 0.8em 0.8em 2em;
}
.menu a, .menu_control {
    font-family: \'Roboto\',sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1em;
    color: #fff;
    letter-spacing: .01em;
    background-color: #003362;
    padding: 1em 0.7em;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 0;
    border: none;
}

#hero {
  position: relative;
  text-align: center;
}

h2{
  color: white;
}


.container-fluid {
  list-style-type: none;
  padding-top: 1px;
  padding-bottom:  10px;
  text-align: right;
  background-color: #003362;
  width: 100%;
  z-index: 999;
}

@media (min-width: 600px) {
  .container-fluid {
    flex-wrap: wrap;
    flex-direction: row;
    
  }
  .img-fluid {
    min-width: 100%;
  }
  .bh2 {
    min-width: 70%;
  }

  
  .container > div{
    padding: 10px;
    text-align:center;
    font-size:2em;
    color:black;
    box-sizing:border-box;
    background-color: black;
    list-style-type:none;
    
    }
       
    html, body {
    background-color: black;
    margin: 10 px;
    
    }
    
    
    .container{
    padding: 0;
    }
    
        
    .container  > li{
    background-color: black;



 .container {
  border: 5 pex solid black;
  display:flex; 
  
  }
  
  
  @media all and (max-width:600) {
  .container {
    flex-wrap:wrap;
  }
  
  .container > li {
   flex: 1 1 50%
  }
  
  @media all and (max-width:400) {   
    .container > li{
    flex: 1 1 100%;
    }
  }

